.create-client-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.form-base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-create-client {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.form-container-create-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.form-container-create-client label {
    color: var(--text-color)
}

.form-container-create-client span {
    color: rgb(236, 115, 115);
}

.create-client-input {
    width: 90%;
}

#create-client-button {
    width: 30%;
    margin-top: 20px;
    height: 50px;
}

.return-button {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;
  
    display: flex;
    align-items: center;
    margin-right: 80%;
}

.deleted {
    display: none;
}